doctype
html(lang = 'ja')
 head
  meta(charset = 'utf-8')
  link(href="./output.css" rel='stylesheet')
  title 佳乃はついにSASSとPUGの領域に足を踏み入れる!

 body
  section
   h1 佳乃はついにSASSとPUGの領域に足を踏み入れる!
   p.lead SASSは聞いたことがあるが、PUGについては先日まで知らなかった！
    | 佳乃は果たして使いこなすことができるのであろうか！
    span.red ええ！絶対やりとげますとも！
    | 私にできないことなどないのだ！わ〜っはっはっは！
